@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este sistema de matrícula on-line foi desenvolvido pelo estudante João Manuel no quadro de obtenção do 
    título de Técnico Médio em Informática.</p>
